<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>家計簿アプリ</title>
</head>
<body>
 <a href="#"></a>
 <form action="/renew/<%= @content.id %>" method="post">
     <a href="#"></a>
     <h3>編集フォーム</h3>
     <h4>見出し</h4>
     <input type="text" placeholder="タイトル" name= "title" value="<%= @content.title %>">
     <h4>本文</h4>
     <textarea name="body" id="" cols="30" rows="10"><%= @content.body %></textarea>
     <h4>参考リンク</h4>
     <input type="text" placeholder="リンク先のタイトル" name="linkTitle" value="<%= @content.linkTitle %>">
     <input type="url" placeholder="URL" name="url" value="<%= @content.url %>">
     <input type="submit" value="投稿する">
 </form>
 
</body>
</html>
